* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100vh;
	font-family: 'Inter', sans-serif;
	padding: 0 7%;
	background-color: #f9f5ed;
}

/* Navbar Section */

nav {
	width: 100%;
	height: 15vh;
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

nav ul li {
	list-style: none;
	padding-right: 6rem;
	font-weight: 500;
}

/* Main Section */

main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 85vh;
}

.left-section {
	width: 40%;
}

.left-section h1 {
	font-size: 3rem;
}

.left-section p {
	padding: 7% 0;
}

.left-section button {
	background-color: #3b855b;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.8rem 1rem;
}

.right-section {
	width: 60%;
	margin-left: 15%;
}

.right-section div:first-child img {
	width: 35%;
	padding-right: 1rem;
}

.right-section div:last-child img {
	width: 69%;
	padding-top: 1rem;
}
